<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>AuthenticationAdmin</filter-name>
        <filter-class>Authentication.AuthenticationAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationAdmin</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterAccount</servlet-name>
        <servlet-class>Controller.RegisterAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListProduct</servlet-name>
        <servlet-class>Controller.AdminListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProduct</servlet-name>
        <servlet-class>Controller.AdminAddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProduct</servlet-name>
        <servlet-class>Controller.AdminEditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <servlet-class>Controller.AdminDeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListCategory</servlet-name>
        <servlet-class>Controller.AdminListCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddCategory</servlet-name>
        <servlet-class>Controller.AdminAddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditCategory</servlet-name>
        <servlet-class>Controller.AdminEditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteCategory</servlet-name>
        <servlet-class>Controller.AdminDeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>Controller.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotController</servlet-name>
        <servlet-class>Controller.ForgotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>Controller.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOTP</servlet-name>
        <servlet-class>Controller.ValidateOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistotyController</servlet-name>
        <servlet-class>Controller.OrderHistotyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderController</servlet-name>
        <servlet-class>Controller.AdminOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterAccount</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListProduct</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProduct</servlet-name>
        <url-pattern>/admin/add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProduct</servlet-name>
        <url-pattern>/admin/edit-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <url-pattern>/admin/delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListCategory</servlet-name>
        <url-pattern>/admin/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddCategory</servlet-name>
        <url-pattern>/admin/add-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditCategory</servlet-name>
        <url-pattern>/admin/edit-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteCategory</servlet-name>
        <url-pattern>/admin/delete-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotController</servlet-name>
        <url-pattern>/ForgotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOTP</servlet-name>
        <url-pattern>/ValidateOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistotyController</servlet-name>
        <url-pattern>/order-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderController</servlet-name>
        <url-pattern>/admin/order</url-pattern>
    </servlet-mapping>
</web-app>
